<template lang="html">
	<v-container grid-list-xs,sm,md,lg,xl>
		<v-row
			justify="center"
		>
			<v-col md="4" offset-md4>
				<v-menu
			  		ref="menu"
			  		v-model="menu"
					:close-on-content-click="false"
					:return-value.sync="date"
					transition="scale-transition"
					offset-y
					full-width
					min-width="290px"
				>
					<template v-slot:activator="{ on }">
						<v-text-field
							v-model="date"
							label="Picker in menu"
							prepend-icon="event"
							readonly
							v-on="on"
						></v-text-field>
					</template>
					<v-date-picker v-model="date" no-title scrollable>
						<div class="flex-grow-1"></div>
						<v-btn text color="primary" @click="menu = false">Cancel</v-btn>
						<v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
					</v-date-picker>
				</v-menu>
			</v-col>
		</v-row>
		<v-row
			justify="center"
		>
			<v-col  md="10" offset-md1>
				<v-data-table
				  :headers="headers"
				  :items="items"
				  class="elevation-3"
				  :items-per-page="10"
				></v-data-table>
			</v-col>
		</v-row>
		<v-row
			justify="center"
		>
			<v-card>
				<v-card-title primary-title>
				  Всего за день:
				</v-card-title>
				<v-card-text class="subtitle-1">
					Заказов  <span class="float-right font-weight-bold">{{ items.length }}</span>
					<br>
					Сумма    <span class="float-right font-weight-bold">{{ totalPrice }}</span>
				</v-card-text>
			</v-card>
		</v-row>
	</v-container>
</template>

<script>
export default {
	data: () => ({
		headers: [
			{ text: "Дата", sortable: false, value: 'date'},
			{ text: "Время", sortable: false, value: 'time'} ,
			{ text: "Стоимость (грн)", sortable: false, value: 'price'},
		],
		items: [
			{
				date: "08/09/2019",
				time: '22:55',
				price: 125
			},
			{
				date: "08/09/2019",
				time: '23:55',
				price: 225
			},
			{
				date: "09/09/2019",
				time: '00:55',
				price: 325
			},
		],
		date: '',
		menu: false,
		modal: false,
	}),
	computed: {
		totalPrice: function () {
			let sum = 0;
			this.items.forEach( (e) => {
				sum += e.price;
				console.log(e.price);
			});
			return sum;
		},
	},
}
</script>

<style lang="css" scoped>
</style>
