<template lang="html">
	<v-container grid-list-xs,sm,md,lg,xl>
		<v-row
			align="center"
			justify="center"
		>
			<v-col md="3" offset-md5 justify="center">
				<v-text-field
				  name="login"
				  label="Логин"
				  required
				></v-text-field>
				<br>
				<v-text-field
				  name="pass"
				  label="Пароль"
				  required
				></v-text-field>
				<br>
				<v-btn color="primary">Войти</v-btn>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
export default {
	date: () => ({

	}),
}
</script>

<style lang="css" scoped>
</style>
