<template lang="html">
	<v-container grid-list-xs,sm,md,lg,xl>
		<v-row>
			<v-col
				class="md4"
			>
				<v-card
					class="mx-auto"
					max-width="350px"
				>
					<v-img
						height="200px"
						:src="require('../assets/coffe.jpg')"
					>
					</v-img>
					<v-card-text align="center">
						<span class="text--primary">
							<h2 class="font-weight-light">Кофе</h2>
						</span>
					</v-card-text>
					<v-divider></v-divider>
					<v-card-actions>
						<div class="flex-grow-1"/>
						<v-btn color="primary">
							Перейти
						</v-btn>
					</v-card-actions>
				</v-card>
			</v-col>
			<v-col
				class="md4"
			>
			<v-card
				class="mx-auto"
				max-width="350px"
			>
				<v-img
					height="200px"
					:src="require('../assets/deserts.jpg')"
				>
				</v-img>
				<v-card-text align="center">
					<span class="text--primary">
						<h2 class="font-weight-light">Десерты</h2>
					</span>
				</v-card-text>
				<v-divider></v-divider>
				<v-card-actions>
					<div class="flex-grow-1"/>
					<v-btn color="primary">
						Перейти
					</v-btn>
				</v-card-actions>
			</v-card>
			</v-col>
			<v-col
				class="md4"
			>
			<v-card
				class="mx-auto"
				max-width="350px"
			>
				<v-img
					height="200px"
					:src="categories[0].img"
				>
				</v-img>
				<v-card-text align="center">
					<span class="text--primary">
						<h2 class="font-weight-light"> {{ categories[0].name }} </h2>
					</span>
				</v-card-text>
				<v-divider></v-divider>
				<v-card-actions>
					<div class="flex-grow-1"/>
					<v-btn color="primary">
						Перейти
					</v-btn>
				</v-card-actions>
			</v-card>
			</v-col>
		</v-row>
		<v-row>
		</v-row>
	</v-container>
</template>

<script>
export default {
	data: () => ({
		categories: [{
			name: 'Другое',
			description: '...',
			img: 'https://img.povar.ru/main/ca/02/63/4b/domashnie_makarons_makaruni-393984.jpg',
		}],
	}),
}
</script>

<style lang="css" scoped>
</style>
