<template>
  <v-app>
    <v-app-bar
		evevation="4"
		app
	>
      <v-toolbar-title>
        <span>DP</span>
        <span class="font-weight-light">Cafe</span>
      </v-toolbar-title>
	  <div class="flex-grow-1">
	  </div>
		<v-btn color="primary" class="ma-4">Меню</v-btn>
  		<v-btn color="primary" class="ma-4">История</v-btn>
  		<v-badge left color="error" class="ma-6">
  		  <span slot="badge">2</span> <!--slot can be any component-->
  		  <v-icon x-large color="primary" class="material-icons">shopping_basket</v-icon>
  		</v-badge>
		<v-btn color="warning" class="ma-4">Выход</v-btn>
  </v-app-bar>

    <v-content>
      <!-- <HelloWorld/> -->
	  <!-- <Menu/> -->
	  <!-- <History/> -->
	  <Login/>
    </v-content>
  </v-app>
</template>

<script>
import HelloWorld from './components/HelloWorld';
import Menu from './components/Menu';
import History from './components/History'
import Login from './components/Login'

export default {
  name: 'App',
  components: {
    HelloWorld,
	Menu,
	History,
	Login,
  },
  data: () => ({
    //
  }),
};
</script>
